
<div id="intro" class="center">
	<p>
	This is a repository for recipes. You can add recipes to the database, edit existing ones, or delete them as well.
	</p>
</div>

 <div class="text-center">
 <%= link_to 'Make a New Recipe', new_entry_path %>
</div>
<div id="indexheader" class="center"><h3>Recipes Index:</h3></div>
<div class="list">
  <% @entries.each do |entry| %>
	<div class="entry center">
    <p>
      <label><b>Recipe Name: </b></label><em><%= entry.name %></em>
    </p>
	<p>
		<label><b>Description: </b></label><%= entry.description %>
	</p>

	<p class="links">
		<%= link_to "Show me this Recipe...", entry_path(entry) %>
	</p>
	</div>
  <% end %>
</div>
