<!--
Header start.
-->

<h1 class="text-center">
<a class="nolink" href="<%= entries_path %>">The Recipe Repo</a>
</h1>

<h2 class="text-center">
	<em>
		<a class="nolink" href="<%= entries_path %>">
			<%= headers = ["If we are what we eat, then I am cheap, fast, and easy (and greasy)!",
			"Even better than GitHub!",
			"If I had a snarky comment, it would go here!",
			"Committing changes has never been so delicious!",
			"Segmentation fault",
			"Recipes, ruby, and rails",
			"We spent hours making up these headers.",
			"Reticulating splines!",
			"Now in perpetual Beta!",
			"Much header. So dynamic.",
			"Praise the sun! (Dark Souls meme)",
			"We'll have Mercurial support one day!",
			"No ads!",
			"All the important food groups! Probably...",
			"Why did I even write all these headers?",
			"404! Just kidding.",
			"<h4>Headerception</h4>",
			"This is the last header, I promise!"]
			#Get a random header from the list
			headers[rand(headers.length)]  %>
		</a>
	</em>
</h2>

<hr/>

<!--
Header End
-->
